.mySwiper {
    margin-top: 15px;
}

.mySwiper .swiper-slide {
    opacity: 0.4;
    transition: .3s;
}

.mySwiper .swiper-slide:hover {
    cursor: pointer;
    opacity: 1;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 20px !important;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mySwiper2 {
    height: 550px;
    width: 100%;
}

.mySwiper {
    height: 100px;
    box-sizing: border-box;
    padding: 10px 0;
}

.display-none {
    display: none;
}
.multi-wizard-step p {
    margin-top: 12px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    position: relative;
    width: 100%;
}
.multi-wizard-step button[disabled] {
    filter: alpha(opacity=100) !important;
    opacity: 1 !important;
}
.stepwizard-row:before {
    top: 30px;
    bottom: 0;
    content: " ";
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: #4d4d4d;
}
.multi-wizard-step {
    text-align: center;
    position: relative;
    display: table-cell;
}
